*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.caption{
    background-color: rgb(47, 45, 45);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    height: 100px;
    font-size: 30px;
}
.menu{
    width: 1200px;
    text-align: right ;
}
.captiontext{
    padding-left: 10px;
}
.choose{
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding-right: 10px;
}
.content{
    background-color: rgb(233, 233, 233);
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
}
.image{
    width:200px;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: middle;
}
.project{
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    height: 150px;
    padding-top: 20px;
    padding-left: 20px;
}
button{
    border: none;
    border-radius: 10px;
    height: 60px;
    width: 370px;
    color: white;
    background-color:rgb(47, 45, 45) ;
}
.information{
    height: 100px;
    text-align: center;
    background-color:rgb(233, 233, 233) ;
    padding-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
}